<div class="content">
    <div class="page-title-container">
        <h1 class="page-title">Sản Phẩm</h1>
        <p class="page-subtitle">Quản Lý Sản Phẩm</p>
    </div>

    <!-- Products Table -->
    <div class="data-table-container">
        <div class="table-header-admin">
            <div class="table-title">Tất Cả Sản Phẩm</div>
            <div class="table-actions">
                <div class="search-box-admin">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Search products...">
                </div>
                <a href="product-add.html" class="btn-admin btn-primary-admin">
                    <i class="fas fa-plus"></i> Thêm Mới
                </a>
            </div>
        </div>
        <table class="data-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên Sản Phẩm</th>
                    <th>Thuộc tính</th>
                    <th>Danh Mục</th>
                    <th>Giá</th>
                    <th>Số Lượng</th>
                    <th>Trạng Thái</th>
                    <th>Hành Động</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{product.id}}</td>
                    <td>
                        <div class="product-info-admin">
                            <div class="product-image">
                                <img [src]="product.hinh" alt="Product Image">
                            </div>
                            <div style="text-align: left;">
                                <strong>{{product.ten_sp}}</strong>
                                <div>SKU: {{product.slug}}</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div style="display: grid; grid-template-columns: 1fr 1fr; column-gap: 24px; text-align: left;">
                            <span>RAM: {{ product.attributes.ram }}</span>
                            <span>CPU: {{ product.attributes.cpu }}</span>
                            <span>Ổ cứng: {{ product.attributes.dia_cung }}</span>
                            <span>Màu sắc: {{ product.attributes.mau_sac }}</span>
                            <span>Cân nặng: {{ product.attributes.can_nang }}kg</span>
                        </div>
                    </td>
                    <td>{{product.category}}</td>
                    <td>{{product.gia.toLocaleString('vi-VN')}}</td>
                    <td>{{product.luot_xem}}</td>
                    <td>
                        <ng-container *ngIf="product.an_hien == 1">
                            <span class="status-badge status-delivered">Hiển Thị</span>
                        </ng-container>
                        <ng-container *ngIf="product.an_hien == 0">
                            <span class="status-badge status-cancelled">Ẩn</span>
                        </ng-container>
                    </td>
                    <td>
                        <div class="action-btns">
                            <a [routerLink]="['/admin/product-edit', product.id]" class="btn-icon btn-edit"><i
                                    class="fas fa-edit"></i></a>
                            <button class="btn-icon btn-primary-admin" (click)="restoreProduct(product.id)"><i
                                    class="fas fa-undo"></i></button>
                            <button class="btn-icon btn-danger-admin" (click)="forceDeleteProduct(product.id)"><i
                                    class="fas fa-trash"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Pagination -->
        <div class="pagination-container">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a href="#" class="page-link">
                        <i class="fas fa-angle-left"></i>
                    </a>
                </li>
                <li class="page-item active"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item">
                    <a href="#" class="page-link">
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>