<div class="content">
    <div class="page-title-container">
        <h1 class="page-title">Sản Phẩm</h1>
        <p class="page-subtitle">Quản Lý Sản Phẩm</p>
    </div>

    <!-- Products Table -->
    <div class="data-table-container">
        <div class="table-header-admin">
            <div class="table-title">Tất Cả Sản Phẩm</div>
            <div class="table-actions">
                <div class="search-box-admin">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Search products...">
                </div>
                <div class="table-actions">
                    <select name="category" id="category" (change)="onCategoryChange($event)">
                        <option value="">Sản Phẩm Theo Danh Mục</option>
                        <option *ngFor="let category of categories" value="{{category.id}}">{{category.ten_loai}}</option>
                    </select>
                </div>
                <a [routerLink]="['/admin/product-add']" class="btn-admin btn-primary-admin">
                    <i class="fas fa-plus"></i> Thêm Mới
                </a>
                <a [routerLink]="['/admin/product-trash']" class="btn-admin btn-primary-admin">
                    <i class="fas fa-trash"></i> Thùng Rác
                </a>
            </div>
        </div>
        <table class="data-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên Sản Phẩm</th>
                    <th>Thuộc tính</th>
                    <th>Danh Mục</th>
                    <th>Giá</th>
                    <th>Số Lượng</th>
                    <th>Trạng Thái</th>
                    <th>Hành Động</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{product.id}}</td>
                    <td>
                        <div class="product-info-admin">
                            <div class="product-image">
                                <img [src]="product.hinh" alt="Product Image">
                            </div>
                            <div style="text-align: left;">
                                <strong>{{product.ten_sp}}</strong>
                                <div>SLUG: {{product.slug}}</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div style="display: grid; grid-template-columns: 1fr 1fr; column-gap: 24px; text-align: left;">
                            <span>RAM: {{ product.attributes.ram }}</span>
                            <span>CPU: {{ product.attributes.cpu }}</span>
                            <span>Ổ cứng: {{ product.attributes.dia_cung }}</span>
                            <span>Màu sắc: {{ product.attributes.mau_sac }}</span>
                            <span>Cân nặng: {{ product.attributes.can_nang }}kg</span>
                        </div>
                    </td>
                    <td>{{product.category}}</td>
                    <td>{{product.gia.toLocaleString('vi-VN')}}</td>
                    <td>{{product.luot_xem}}</td>
                    <td>
                        <ng-container *ngIf="product.an_hien == 1">
                            <span class="status-badge status-delivered">Hiển Thị</span>
                        </ng-container>
                        <ng-container *ngIf="product.an_hien == 0">
                            <span class="status-badge status-cancelled">Ẩn</span>
                        </ng-container>
                    </td>
                    <td>
                        <div class="action-btns">
                            <a [routerLink]="['/admin/product-edit', product.id]" class="btn-icon btn-edit"><i
                                    class="fas fa-edit"></i></a>
                            <button class="btn-icon btn-delete" (click)="deleteProduct(product.id)"><i
                                    class="fas fa-trash"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Pagination -->
        <div class="pagination-container">
            <ul class="pagination" *ngIf="productResponse.pagination.totalPages > 1">

                <li class="page-item" [class.disabled]="currentPage == 1">
                    <a class="page-link" [routerLink]="['/admin/product']" [queryParams]="{ page: currentPage - 1 , category: selectedCategoryId}"
                        [class.disabled]="currentPage === 1">
                        <i class="fas fa-angle-left"></i>
                    </a>
                </li>

                <li class="page-item" *ngFor="let page of getVisiblePages()" [class.active]="page === currentPage"
                    [class.disabled]="page === -1">
                    <a class="page-link" [routerLink]="['/admin/product']" [queryParams]="{ page: page , category: selectedCategoryId}"
                        [class.active]="currentPage === page">
                        {{page === -1 ? '...' : page}}
                    </a>
                </li>

                <li class="page-item" [class.disabled]="currentPage == productResponse.pagination.totalPages">
                    <a class="page-link" [routerLink]="['/admin/product']" [queryParams]="{ page: currentPage + 1 , category: selectedCategoryId}"
                        [class.disabled]="currentPage === productResponse.pagination.totalPages">
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>